.sidebar {
  font-family: "Courier New", Courier, monospace;
  margin-left: 4rem;
  margin-top: 4rem;
  padding: 2rem;
  width: 10rem;
  background-color: #5296a5;
  position: sticky;
  height: 50%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.nav_button {
  margin: 0rem;
  border-radius: 4px;
  padding: 1rem 2rem;
  background-color: #fcd7ad;
  color: black;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
