.App {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

main {
  display: flex;
  flex-direction: row;
}

.main_content {
  height: max-content;
  width: 75%;
  align-self: center;
  align-items: center;
}
